---
import { Image } from 'astro:assets';
const { project, class: className } = Astro.props;
const { title, subTitle, date, imageFront } = project.data;
---

<a
    class:list={[
        'flex justify-between hover:underline hover:underline-offset-4 hover:decoration-dashed hover:transition-all items-start  group w-full py-4',
        className,
    ]}
    href={`/projects/${project.id}/`}
>
    <article class='flex w-full gap-2'>
        <div class='flex gap-1'>
            {
                imageFront && (
                    <Image
                        src={imageFront}
                        alt={title}
                        class='h-10 w-10 object-cover'
                    />
                )
            }
        </div>

        <div class='w-full'>
            <div class='flex justify-between'>
                <h2
                    class='mb-1 text-pretty text-base font-bold sm:text-xl md:text-base'
                >
                    {title}
                </h2>
                <p class='text-pretty'>
                    {date}
                </p>
            </div>

            <div class=''>
                {subTitle && <p class='line-clamp-2 text-pretty'>{subTitle}</p>}
            </div>
        </div>
    </article>
</a>
